/* 2024 */
.page-year-2024 h1,
.page-year-2024 h2,
.page-year-2024 h3 {
  color: #158f77;   /* emerald accent */
}

/* 2025 */
.page-year-2025 h1,
.page-year-2025 h2,
.page-year-2025 h3 {
  color: #e25f2a;
}

/* 2026w */
.page-year-2026w h1,
.page-year-2026w h2,
.page-year-2026w h3 {
  color: #6b63ff;  /* your hero accent */
}

